.flow-wrapper .agent-edge-box {
    pointer-events: all;
    display: flex;
    align-items: stretch;
    resize: both;
    overflow: auto;
    width: 80px;
    min-width: 100px;
    min-height: 100px;
    z-index: 10000;
}

.flow-wrapper .agent-edge-view {
    font-size: small;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 8px 0;
    min-width: 80px;
    min-height: 60px;
    width: calc(100% - 8px);
    display: flex;
    flex-direction: column;
}

.flow-wrapper .agent-edge-swarm-box {
    display: flex;
    align-items: stretch;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    z-index: 10000;
    background-color: transparent !important;
}

.flow-wrapper .agent-edge-swarm-view {
    font-size: small;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flow-wrapper.light .agent-edge-swarm-view {
    background-color: #f8f8f8;
}

.flow-wrapper.dark .agent-edge-swarm-view {
    background-color: #222;
}

.flow-wrapper.light .agent-edge-view {
    border: 1px solid #ccc;
    background-color: white;
}

.flow-wrapper.dark .agent-edge-view {
    border: 1px solid #333;
    background-color: #222;
}

.flow-wrapper .agent-edge-view .edge-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.flow-wrapper .agent-edge-view .edge-body {
    flex: 1;
    margin-bottom: 8px;
}

.flow-wrapper .agent-edge-view .edge-body textarea {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    resize: none;
}

.flow-wrapper .agent-edge-view .group {
    color: var(--group-manager-color);
}

.flow-wrapper .agent-edge-view .spacer {
    flex: 1;
}

.flow-wrapper .agent-edge-view .edge-actions {
    display: flex;
    justify-content: space-between;
}

.flow-wrapper .agent-edge-view .edge-actions div {
    z-index: 10000;
    padding: 2px;
}

.flow-wrapper .clear-history-checkbox {
    margin-top: 10px;
}

.flow-wrapper .edge-modal .modal-actions {
    margin-top: 10px;
}

.flow-wrapper.dark .edge-position-warning-icon {
    fill: yellow;
}

.flow-wrapper.light .edge-position-warning-icon {
    fill: red;
}
