.flow-wrapper .react-flow__panel {
    margin-top: 10px !important;
}

.flow-wrapper .react-flow__node-agent {
    display: flex;
    align-items: stretch;
}

.flow-wrapper .agent-node .react-flow__handle {
    width: 10px;
    height: 10px;
    border-radius: 2px;
}

.flow-wrapper .agent-node .group-member-handle {
    margin-left: 8px;
    position: relative !important;
    transform: unset !important;
}

.flow-wrapper .react-flow__panel button {
    cursor: pointer;
    border: none;
}

.flow-wrapper .agent-node .react-flow__handle-left,
.flow-wrapper .agent-node .react-flow__handle-right,
.flow-wrapper .swarm-container .react-flow__handle-left,
.flow-wrapper .swarm-container .react-flow__handle-right {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.flow-wrapper .swarm .react-flow__handle {
    border-radius: 2px;
    background-color: var(--swarm-agent-color);
    border: none;
}

.flow-wrapper .swarm .react-flow__handle.target {
    width: 20px;
    height: 9px;
}

.flow-wrapper .swarm .react-flow__handle.source {
    width: 12px;
    height: 12px;
    border-radius: 0;
    transform: rotate(45deg);
}

.flow-wrapper .swarm .react-flow__handle-top.source {
    margin-left: calc(-20%);
    margin-top: -6px;
}

.flow-wrapper .swarm .react-flow__handle-top.target {
    margin-left: calc(20% - 9px);
    margin-top: 1px;
}

.flow-wrapper .swarm .react-flow__handle-bottom.target {
    margin-left: calc(-20% + 6px);
    margin-bottom: 2px;
}

.flow-wrapper .swarm .react-flow__handle-bottom.source {
    margin-left: calc(20% - 12px);
    margin-bottom: -6px;
}

.flow-wrapper .swarm .react-flow__handle-left.target {
    margin-top: calc(-20% + 6px);
    height: 20px;
    width: 9px;
}

.flow-wrapper .swarm .react-flow__handle-left.source {
    margin-top: calc(20% - 12px);
    margin-left: -6px;
}

.flow-wrapper .swarm .react-flow__handle-right.target {
    margin-top: calc(20% - 6px);
    height: 20px;
    width: 9px;
    margin-right: 1px;
}

.flow-wrapper .swarm .react-flow__handle-right.source {
    margin-top: calc(-20%);
    margin-right: -5px;
}

.flow-wrapper .agent-node .react-flow__handle-bottom {
    margin-bottom: -6px;
    margin-left: -6px;
}

.flow-wrapper .agent-node.assistant .react-flow__handle {
    background-color: var(--assistant-agent-color);
}

.flow-wrapper .agent-node.user .react-flow__handle {
    background-color: var(--user-agent-color);
}

.flow-wrapper .agent-node.manager .react-flow__handle {
    background-color: var(--group-manager-color);
}

.flow-wrapper .agent-node.rag_user .react-flow__handle {
    background-color: var(--rag-user-color);
}

.react-flow__resize-control.line {
    display: none;
}

.react-flow__resize-control.nodrag.bottom.right.handle.assistant {
    border-color: var(--assistant-agent-color);
}

.react-flow__resize-control.nodrag.bottom.right.handle.user {
    border-color: var(--user-agent-color);
}

.react-flow__resize-control.nodrag.bottom.right.handle.manager {
    border-color: var(--manager-agent-color);
}

.react-flow__resize-control.nodrag.bottom.right.handle.swarm_container {
    width: 8px;
    height: 8px;
}

.react-flow__resize-control.nodrag.bottom.left.handle {
    display: none;
}

.react-flow__resize-control.nodrag.top.left.handle {
    display: none;
}

.react-flow__resize-control.nodrag.top.right.handle {
    display: none;
}

.react-flow__attribution {
    background: transparent;
}

.flow-wrapper .rc-slider {
    width: calc(100% - 20px);
    margin: 0 10px;
}

.flow-wrapper .rc-slider-handle {
    -webkit-user-select: none;
    user-select: none;
}

.flow-wrapper.dark .rc-slider-rail {
    background-color: #666;
}
