logs
*.log
node_modules/
.venv/
.yarn/
dist/
out/
tests/browser/vieos/
coverage/
site/
dist-ssr
.local/
public/vs/
public/monaco_latest_version
.idea
.DS_Store
# glob patterns
**/.local
**/*.local
**/*.env
**/*.env.*
!.env.example
**/*.tgz
**/node_modules/
**/dist/
**/public/vs/
**/*.tsbuildinfo
**/.stylelintcache
**/.eslintcache
**/*db
**/coverage/
